@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #cff9e9;
}

main {
  background: #82b9e9;
  background: linear-gradient(0deg, #82b9e9 50%, #cff9e9 100%);
  /* background: #fff; */
}
